
<div class="container-fluid main-box">
    <div class="top-box">
        <div class="icon-box">
            <app-badge-sale></app-badge-sale>
            <app-badge-product-of-the-week></app-badge-product-of-the-week>
            <div class="icon24-box">
                <img src="../../../assets/compare.png" alt="to compare" style="width:40px;height:40px;margin-top:-8px">
                <img src="../../../assets/heartblack.png" alt="to wishlist" >
            </div>
        </div>
        
        <div class="beer-img-box" style="background-image: url({{image_url}})"></div>
        <div class="title-box">
            <p>{{ tagline }}</p>
            <div>{{ name }}</div>
            <p>Fuerst Wiacek</p>
        </div>
    </div>
    <div class="bottom-box">
        <div class="price-box">
            <div class="d-flex flex-direction-row euro-box"><h2>€7.00 </h2><p >€14,90</p></div>
            <div class="d-flex flex-direction-row content-box"> <div>Content</div><p>0.44 Litre</p></div>
          </div>
      
          <div class="button-box">
            <input type="text" placeholder="1"/>
            <button >
              <img src="../../../assets/cartwhite.png" alt="shopping-cart"  />Add to
              cart
            </button>
          </div>
    </div>
</div>








