@import '../../styles/colors.scss';
@import '../../styles/heading.scss';
@import '../../styles/text.scss';

.shopping-cart-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width:950px;
    height: 256px;
    margin-left:100px;
    
    @include border-bottom-color-dark-grey;

}

h2 {
    @include h-2

}

.img-box {
    width: 80px;
    height: 35x;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:10px;
    @include color-success-green2;

    img {
        @include color-success-green2;

    }
}


.counter-input-box {
    display: flex;
    flex-direction: row;

    height: 40px;
    border-radius: 4px;
    padding: 8px 0px 8px 0px;
    justify-content: space-between;

    input {
        border:none;
        height:40px;
        margin-top:-9px;
        width:80px;
        @include border-bottom-color-dark-grey;
        @include border-top-color-dark-grey;
    }

    margin-right: -50px;

}

.add {
    height: 40px;
    width: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:-9px;
    margin-right:70px;

    @include border-color-dark-grey;
    @include background-color-white;

}

.delete {
    height: 40px;
    width: 40px;
    top: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:-9px;
    margin-left:70px;

    @include border-color-dark-grey;
    @include background-color-white;

}


.error-message {
    width:400px;
    height:80px;
    @include color-accent-orange;
    @include color-white;
    @include text-caption-bold;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding-top:30px;
    margin:0 auto;
    margin-top:20px;
}

.summary-box {
    height: 373px;
    width: 302px;
    border-radius: 4px;
    padding:16px;
    @include border-color-dark-grey;

    button {
        width: 268px;
        height: 40px;
        border-radius: 4px;
        border:none;
        @include color-white;
        @include color-primary-background;
        
        }

}


 h4 {
        @include h-4;
 }



h6 {
    @include h-6
}

.item-box {
    display:flex;
    justify-content: space-between;
}



// div {
    //     border:1px solid grey
    // }
    
    .delete-box {
        width:930px;
        display:flex;
        justify-content: flex-end;
        margin-top:-60px;
        .delete-icon {
            width:24px;
            height:24px;
            cursor: pointer;
        }
    }

p {
    @include text-caption-bold;
}

.bottom-box {
    margin-left:100px;
}

.main-summary-box { 
    width:1500px;
    display:flex;
    justify-content: flex-end;
    margin-right:100px;
    margin-top:-50px;

}