
        <div class="container-fluid">

            <div class="heading-box"> 
                <h1>All Beers</h1>
            </div>
        
            <app-filter-bar></app-filter-bar>

            <div class="main">
                <div class="main-box">
                    <div *ngFor="let beer of beerService.Beers | searchFilter: beerService.query" >
                        <app-beer-item [beer]="beer" [price]="beer.abv" [image_url]="beer.image_url" [name]="beer.name" [tagline]="beer.tagline" ></app-beer-item>
                    </div>
                </div>
            </div>
        </div>
