@import '../../styles/colors.scss';
@import '../../styles/text.scss';

div {
    box-sizing: border-box;
    height: 40px;
    min-width:89px;
    width: 178px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 8px 16px 8px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    height: 40px;

    @include border-color-black;
    @include text-standard-uppercase;
    @include button-label;

    p {margin-top: 10px; margin-right: 10px;}



}