@font-face {
    font-family: "Lato";
    src: local("Lato"), url(./assets/fonts/Lato/Lato-Regular.ttf);
  }


* {font-family: Lato}

html, body { height: 100%; }

body { margin: 0; }

@import "../src/app/styles/colors.scss";
@import "../src/app/styles/heading.scss";
@import "../src/app/styles/text.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
